@font-face {
  font-family: 'rancho';
  src: url('../fonts/Rancho-Regular.ttf');
}
.color-black{
	color:#333;
}
.color-gray{
	color:#999;
}
.color-green{
	color:#27c24c
}
.color-purple{
	color:#7266ba
}
.sign-title{
	font-family: 'rancho',cursive;
	font-size: 50px;
	margin-bottom:40px !important;
}
.logo{
	font-family: 'rancho',cursive;
	font-size: 30px;
	font-weight: bold;
	color:#27c24c;
	line-height: 40px;
}
a{
	color:#333;
}
.check-label{
	width:100px;
	height:30px;
	display: inline-block;
	margin:0 5px;
	padding:0;
	border:0;
	vertical-align: bottom;
}
.check-label input{
	display: none;
}
.check-label span{
	width:100px;
	height:30px;
	border-radius: 3px;
	line-height: 30px;
	display: block;
	text-align: center;
	box-sizing: border-box;
	color:#666;
	border:1px solid #ddd;
	font-size: 12px;
}
.check-label input:checked + span{
	border:1px solid rgb(36, 182, 227);
	background:rgb(36, 182, 227);
	color:#fff;
}