@font-face {
  font-family: 'rancho';
  src: url('../fonts/Rancho-Regular.ttf');
}
.color-black{
	color:#333;
}
.color-gray{
	color:#999;
}
.color-green{
	color:#27c24c
}
.color-purple{
	color:#7266ba
}
.sign-title{
	font-family: 'rancho',cursive;
	font-size: 50px;
	margin-bottom:40px !important;
}
.logo{
	font-family: 'rancho',cursive;
	font-size: 30px;
	font-weight: bold;
	color:#27c24c;
	line-height: 40px;
}
a{
	color:#333;
}
.margin-0-5{
	margin:0 5px;
}
.table-responsive{
	border:1px solid #eee;
}
.table > thead > tr{
	border-top:1px solid #eee !important;
}
.table > thead > tr > th{
	border-bottom:0 !important;
}
.table>tbody>tr>td{
	border-top:0 !important;
}
.table>tbody>tr>td{
	padding:12px !important;
}
.no-float{
	float: initial !important;
}
.check-label{
	width:100px;
	height:30px;
	display: inline-block;
	margin:0 5px;
	padding:0;
	border:0;
	vertical-align: bottom;
}
.check-label input{
	display: none;
}
.check-label span{
	width:100px;
	height:30px;
	border-radius: 3px;
	line-height: 30px;
	display: block;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	color:#666;
	border:1px solid #ddd;
	font-size: 12px;
}
.check-label input:checked + span{
	border:1px solid rgb(36, 182, 227);
	background:rgb(36, 182, 227);
	color:#fff;
}
.table thead{
	background:#f1f1f1;
}
.table .unread td{
	background:initial;
}
.table .read td{
	background:initial;
}
.table .unread{
	background:#fff;
}
.table .read{
	background:#f7f7f7;
}