<form class="form-horizontal" id="edit-cpa-game-form">
    <input type="hidden" value="{{ gameDetail._id }}" name="gameId" id="gameId">
    <input type="hidden" value="{{ gameDetail.mode }}" name="mode" id="mode">
    <div class="form-group">
        <input type="text" style="position:absolute;top:-100000px;">
        <label class="col-sm-3 control-label">渠道名：</label>
        <div class="col-sm-8">
            <input type="text" disabled value="{{ gameDetail.channelName }}" disabled placeholder="账号" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <input type="password" style="position:absolute;top:-100000px;">
        <label class="col-sm-3 control-label">游戏名：</label>
        <div class="col-sm-8">
            <input type="text" name="gameName" value="{{ gameDetail.gameName }}" placeholder="游戏名" class="form-control">
        </div>
    </div>
                            
    <div class="form-group">
        <input type="text" style="position:absolute;top:-100000px;">
        <label class="col-sm-3 control-label">安装数：</label>
        <div class="col-sm-8">
            <input type="password" style="position:absolute;top:-100000px;">
            <input type="text" name="installAmount" onkeyup="this.value = this.value.replace(/[^0-9]/g,'')" value="{{ gameDetail.installAmount }}" placeholder="安装数" class="form-control"> 
        </div>
    </div>
    <div class="form-group">
        <input type="password" style="position:absolute;top:-100000px;">
        <label class="col-sm-3 control-label">单价：</label>
        <div class="col-sm-8">
            <input type="text" name="singlePrize" onblur='toDecimal2(this)' value="{{ gameDetail.singlePrize }}" placeholder="单价" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <input type="text" style="position:absolute;top:-100000px;">
        <label class="col-sm-3 control-label">日期：</label>
        <div class="col-sm-8">
            <input type="text" name="inputDate" id="inputDate" value="{{ gameDetail.inputDate | dateFormat:'yyyy-MM-dd' }}" placeholder="日期：2010-10-10" class="form-control">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-sm btn-primary" id="edit-cpa-game-btn">确定</button>
            <button type="reset" class="btn btn-sm btn-info">重置</button>
        </div>
    </div>
    </form>